:root{
    --brown1: #331B00;
    --brown2: #66462C;
    --brown3: #726953;
    --green: #B5CFBF;
    --blue: #82A6B1;
}


.large_image {
    height: 90vh;
    width: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    border-right-color: var(--green);
    border-bottom-color:var(--green);
    border-top-color:var(--brown1);
    border-left-color:var(--brown1);
    border-style:solid;
    border-width:5px;
}

.small_img{
    width: 95%;
    max-width: 400px;
}

.project_img{
    margin: 10px;
    width: 95vw;
    align-items: center;

}

p{
    -webkit-text-fill-color: rgb(30,23,31);
    font-size: 1rem;
}

.top_bar{
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
    margin: 0px;
    background-color: var(--brown1);
    -webkit-text-fill-color: rgb(250, 255, 240);
}

.tabs{
    float: right;
    text-align: right;

}

.link{
    -webkit-text-fill-color: var(--green);
        font-weight:bold;
        text-decoration: underline;
        display: inline-block;
}

a{
    text-decoration: none;
}
button{
    background-color: var(--brown1);
    padding-top: 5px;
    border:solid;
    border-color: var(--brown3);
    border-bottom-color: var(--brown1);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-width: 5px;
    font-weight: bold;
    -webkit-text-fill-color: var(--brown3);
}

.button_down{
    background-color: var(--brown2);
    border-color: var(--brown2);
    -webkit-text-fill-color: var(--green);
}

h1{
    font-size: 5rem;
        font-weight: bold;
        margin-bottom: 0.5em;
    -webkit-text-fill-color: var(--brown1);
    text-align: center;
    background-color: var(--blue);
    border-radius: 25px;
}

.paragraph{
    background-color:var(--blue);
    border-radius:25px;
    padding: 10px;
    display:block;
    text-align: center;
    height: 100dvh;
    -webkit-text-fill-color: var(--brown1);
}

#text-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #1e171f;
    color: #333;
    padding: 1rem;
    overflow-x: auto; /* Enables horizontal scroll if needed */
    white-space: pre-wrap; /* Wrap long lines */
    max-height: 400px; /* Optional: add scroll if long */ 
    -webkit-text-fill-color: rgb(115, 153, 92);

}


.vertical-line{
    width: 5px;
    height: 350px;
    background-color: #1e171f;
}

.img_text_container{
    display: flex;
        align-items: flex-start;
        gap: 10px;
        margin: 10px;
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 300px;
    
}

.text>* {
    margin: 10px;
}

h3{
    font-size:large;
    -webkit-text-fill-color: rgb(185, 31, 31);

}


body{
    color: rgb(30, 23, 31);
    background-color: var(--brown2);
}

html,
body {
    margin: 0;
    padding: 0;
}