:root{
    --colour1: rgb(20,29,28);
    --colour2: rgb(82,97,90);
    --colour3: rgb(104,122,122);
    --colour4: #B5CFBF;
    --colour5: #82A6B1;
}

.large_image {
    height: 80vh;
    width: 400px;
    object-fit: cover;
    object-position: center;
    border-radius: 50px;
    border-color: var(--colour1);
    border-style:solid;
    border-width:5px;
}

.small_img{
    width: 95%;
    max-width: 400px;
}

.project_img{
    margin: 10px;
    width: 95vw;
    align-items: center;
}

.top_bar{
    padding-top:2px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom:0px;
    margin: 0px;
    background-color: var(--colour1);
}

.tabs{
    float: right;
    text-align: right;
}

.link{
    -webkit-text-fill-color: var(--colour4);
        font-weight:bold;
        text-decoration: underline;
        display: inline-block;
}

a{
    text-decoration: none;
}
button{
    background-color: var(--colour1);
    padding-top: 5px;
    border:solid;
    border-color: var(--colour3);
    border-bottom-color: var(--colour1);
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    border-bottom-width: 5px;
    font-weight: bold;
    -webkit-text-fill-color: var(--colour3);
}

.button_down{
    background-color: var(--colour2);
    border-color: var(--colour2);
    -webkit-text-fill-color: var(--colour1);
}

h1{
    font-size: 5rem;
        font-weight: bold;
        margin:0px;
    -webkit-text-fill-color: var(--colour1);
    text-align: center;
    
}

.header{
    border: 5px;
    border-radius: 25px;
    border-color: var(--colour1);
    border-style:solid;
    padding:0px;
    background-color: var(--colour2);
}

.paragraph{
    border:5px;
    border-style:solid;
    border-color:var(--colour1);
    border-radius:25px;
    padding: 10px;
    display:flex;
    flex-direction: column;
    height: 100vh;
    flex-grow: 1;
    text-align: center;
    -webkit-text-fill-color: var(--colour1);
    background-color:var(--colour2);
}

#text-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #1e171f;
    color: #333;
    padding: 1rem;
    overflow-x: auto; /* Enables horizontal scroll if needed */
    white-space: pre-wrap; /* Wrap long lines */
    max-height: 400px; /* Optional: add scroll if long */ 
    -webkit-text-fill-color: rgb(115, 153, 92);

}


.vertical-line{
    width: 5px;
    height: 350px;
    background-color: #1e171f;
}

.img_text_container{
    display: flex;
        align-items: flex-start;
        gap: 10px;
        margin: 10px;
}

.text{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 300px;
}

.text>* {
    margin: 10px;
}

h3{
    font-size:large;
    -webkit-text-fill-color: rgb(185, 31, 31);

}


body{
    background-image: url('images/grid.png');
    background-repeat:no-repeat;
    background-size:cover;
}

html,
body {
    margin: 0;
    padding: 0;
}