
.large_image {
    height: 100vh;
    width: 400px;
    object-fit: cover;
    object-position: center;
}

.small_img{
    width: 95%;
}

.project_img{
    margin: 10px;
    width: 95vw;
    align-items: center;

}

p{
    -webkit-text-fill-color: rgb(30,23,31);
    font-size: 1rem;
}

.top_bar{
    text-align: right;
    padding: 10px;
    margin: 0px;
    background-color: rgb(30, 23, 31);
    -webkit-text-fill-color: rgb(250, 255, 240);
}

.link{
    -webkit-text-fill-color: rgb(102, 152, 71);
        font-weight:bold;
        text-decoration: underline;
        display: inline-block;
}

a{
    text-decoration: none;
}
button{
    background:none;
    font-weight: bold;
    border-style:solid;
    border-top:none;
    border-bottom:none;
    border-color:rgb(65, 34, 96);
}

h1{
    font-size: 8rem;
        font-weight: bold;
        margin-bottom: 0.5em;
    -webkit-text-fill-color: rgb(131, 190, 99);
}

#text-content {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #1e171f;
    color: #333;
    padding: 1rem;
    overflow-x: auto; /* Enables horizontal scroll if needed */
    white-space: pre-wrap; /* Wrap long lines */
    max-height: 400px; /* Optional: add scroll if long */ 
    -webkit-text-fill-color: rgb(115, 153, 92);

}


.vertical-line{
    width: 5px;
    height: 350px;
    background-color: #1e171f;
}

.img_text_container{
    display: flex;
        align-items: flex-start;
        gap: 10px;
        margin: 10px;
}

.text{
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 300px;
    
}

.text>* {
    margin: 10px;
}

h3{
    font-size:large;
    -webkit-text-fill-color: rgb(185, 31, 31);

}


body{
    color: rgb(30, 23, 31);
    background-color: rgb(251, 255, 240);
}

html,
body {
    margin: 0;
    padding: 0;
}